body {
    font-family: 'Courier New', monospace;
    color: #33FF33;
}

.text-green {
    color: #33FF33;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

.terminal {
    background-color: #000;
    color: #33FF33;
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #33FF33;
}

.btn-outline-green {
    color: #33FF33;
    border-color: #33FF33;
}

.btn-outline-green:hover {
    background-color: #33FF33;
    color: #000;
}
